body,
html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body,
body * {
  font-family: 'Open Sans', sans-serif !important;
}

p {
  margin-bottom: 0;
}

.inner-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.input-wrap {
  text-align: center;
}

.main-wrap {
  max-width: 600px;
  margin: 0 auto 5px;
}

.tudu-item .content {
  font-weight: bold;
  color: #3b3b3b;
  text-transform: capitalize;
  text-align: left;
  margin: 0;
}

.tudu-item {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tudu-wrap {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.detail-wrap {
  display: flex;
  justify-content: space-between;
}

.delete-tudu {
  background-color: #fff !important;
}

form {
  margin-bottom: 20px;
}

TextField{
  min-width: 400px;
}
@media screen and (max-width:425px) {
  .btn-wrap {
    margin-top: 10px;
  }

  .main-wrap{
    max-width: 380px;
  }

  .detail-wrap {
    flex-direction: column;
  }
}